/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
@charset "UTF-8";
/* Report Results Styling
--------------------------------------------------------------------------------------------------*/
th {
    background-color: #F9F9F9;
    color: #666;
}

#reportResults {
    height: 95%;
	width: 95%;
}
#queryResults {
    height: 95%;
    overflow: auto;
    width: 100%;
}

img.close_modal {
    float: left;
    padding-left: 123px;
}

.downloadButtonBar {
    padding: 0px 0px 10px 20px;
}

/* Report Display Styling
--------------------------------------------------------------------------------------------------*/
div.report-container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#tableLayout {
    height: 300px;
    position: relative;
}

table.report_display {
    width: auto;
}

div.table {
    background-color: #fff;
    border: 2px solid #1DAEEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height:normal;
    margin-top: 50px;
    padding: 15px;
    white-space: nowrap;
}

.table_title {
    color: #8BC53F;
    font-family: Arial, "sans serif";
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-left: 12px;
    display: inline-block;
    margin-top: 6px;
}
.floating_left {
    float: left;
}

.table_icon {
    display: inline-block;
    float: left;
}

.table_filters,
.table_ordering {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table_columns_link {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.table_columns {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form_label {
    color: #069;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.form_sub_label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.form_default_table {
    background-color: #EEE;
    border: gray 1px solid;
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 3px;
    padding: 3px;
}

.joinRemove {
    display: inline-block;
    float: left;
    padding-top: 6px;
    padding-left: 12px;
}

/* Modal dialog boxes
--------------------------------------------------------------------------------------------------*/

.modal {
  background-color: #fff;
  border: 2px solid #1DAEEB;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: none;
  left: 0;
  overflow: auto;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 3000;
}

/* Individual modal content styling
----------------------------------------------------------------------------------------------*/
.join {
    clear: left;
}

.join div {
    padding: 3px 5px;
}

.join td {
    padding: 5px;
}

.filter {
    clear: left;
}

.filter div {
    padding: 3px 5px;
}

.filter td {
    padding: 5px;
}

#reportColumns,
#includedReportColumns {
  vertical-align: top;
}

/* Parameter styling
----------------------------------------------------------------------------------------------*/
#paramContainer {
	vertical-align: top;
}
