/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
.refresh-timer-container {
    padding-right: 10px;
    position: relative;
    text-align: right;
    height: 30px;
    float: right;
}
 
.refresh-timer-container-enabled .refresh-timer {
     padding-top: 5px;
}
 
.refresh-timer-container-disabled .refresh-timer {
    padding-top: 8px;
}

.refresh-timer {    
    font-size: x-small;
}

a.refresh-button-enabled {
    font-size: x-small;    
    cursor: pointer;
    cursor: hand;
}

a.refresh-button-disabled {
    font-size: x-small;
    cursor: default;
    text-decoration: none;
    color: #000;
}

a.refresh-button-disabled:hover {
    font-size: x-small;
    cursor: default;
    text-decoration: none;
    color: #000;
}