/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
@charset "UTF-8";
/* CSS Document */

/**********************************************************************************************************************
 * All
 *********************************************************************************************************************/
.twoPaneManager .twoPaneEntry .twoPaneEntryLabel {
    overflow-x: visible;
}
div.inlineBlock.collapseSpace {
    display: none;
}
div.perPage {
    margin-right: 5px;
}
.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

/**********************************************************************************************************************
 * Teams
 *********************************************************************************************************************/
.oneui .dijitDialog {
    max-width: none;
}

div.team-manager .twoPaneManager .twoPaneDetail {
    background-color: #FAFAFA;
 }

/**********************************************************************************************************************
 * Roles
 *********************************************************************************************************************/
h2.widgetHeader {
    font-height: 1.286em;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 1em;
}
.oneui .dijitSelect .dijitButtonContents {
    vertical-align: middle;
}
div .twoPaneManager .twoPaneList {
    border-right: 1px solid #d2d2d2;
}
div .twoPaneManager .twoPaneManager {
    padding: 0px 10px 1px 10px;
    margin: -1px -20px -15px -20px;]
}
div .twoPaneDetail > div .twoPaneDetail {
    margin-right: 0px;
}
/*div .twoPaneContainer {
    margin-right: 10px;
}*/

/**********************************************************************************************************************
 * Resource Types
 *********************************************************************************************************************/
.twoPaneManager .twoPaneDetailPadding .containerLabel {
    padding-bottom: 15px !important;
}

/**********************************************************************************************************************
 * Templates
 *********************************************************************************************************************/
.containerLabelDescription {
    font-style: italic;
    padding-top: 8px;
    padding-bottom: 10px;
}

.labelsAndValues-labelCell {
    text-align: left;
}
.underField {
    margin-left: 0;
    float: right;
}

.twoPaneManager .twoPaneDetailPadding .containerLabelTemplates {
    padding-bottom: 0px !important;
}

.twoPaneManager .twoPaneDetailPadding {
  overflow-x: auto;
}

.miniHeader {
    font-size: 16px;
    font-style: bold;
    padding-top: 10px;
}

.fieldRow {
    display: inline-block;
    padding: 8px;
    width: 99%;
}
.fieldRowSecondary {
    display: inline-block;
    padding: 0px 8px 8px 8px;
    width: 99%;
}

.fieldColumn15 {
    display: inline-block;
    vertical-align: middle;
    width: 13%;
}

.fieldColumn20 {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
}

.fieldColumn60 {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 57%;
}

.fieldColumnLabelDialog {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
    width: 33%;
}

.fieldColumnLabelDialogSecondary {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 33%;
}

.fieldColumnValueDialog {
    display: inline-block;
    vertical-align: middle;
    width: 61%;
}

.fieldInnerLeft {
    display: inline-block;
    position: relative;
    top: 5px;
    /*vertical-align: middle*/
}

.fieldInnerRight {
    display: inline-block;
    float: right;
    vertical-align: middle;
    width: 60%;
}

.oneui .dijitTitlePaneTitle {
    background-color: #EDEDED;
}

.oneui .dijitTitlePaneContentOuter {
    background-color: #FAFAFA;
    border: none;
}

.radioButtonGroup .radioButtonLabel {
    width: 270px;
}

.templateEditIcon {
    background: url('../../images/icon_pencil_edit.gif');
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    margin-bottom: -2px;
    margin-left: 8px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 14px;
}

.templateUsageIcon {
    background: url('../../images/icon_magnifyglass.gif');
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    padding-bottom: 3px;
    padding-right: 10px;
    width: 14px;
}

.templateSecurityIcon {
    background: url('../../images/icon_shield.gif');
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    padding-bottom: 2px;
    width: 14px;
}

/**********************************************************************************************************************
 * TeamSelector
 *********************************************************************************************************************/
.teamSelector {
  display:table-cell;
  margin-bottom: -9px;
}

.teamForm {
    background-color: #F7FBFE;
    padding: 5px;
    border: 1px solid #CCC;
}

.versionSelectorComponent {
  display: inline-block;
}

.oneui .showTeam .dijitButton .dijitButtonNode,
.oneui .showTeam .dijitDropDownButton .dijitButtonNode,
.oneui .showTeam .dijitComboButton .dijitButtonNode,
.oneui .showTeam .dijitToggleButton .dijitButtonNode {
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    background: url('../../lib/ubuild/images/icons/general-sprite.png') no-repeat 0 -96px;
    width: 18px;
    height: 18px;
}

.oneui .showTeam .dijitButton .dijitButtonNode:hover,
.oneui .showTeam .dijitDropDownButton .dijitButtonNode:hover,
.oneui .showTeam .dijitComboButton .dijitButtonNode:hover,
.oneui .showTeam .dijitToggleButton .dijitButtonNode:hover {
    background-position: -24px -96px;
}

.oneui .showTeam .dijitButton .dijitButtonNode:active,
.oneui .showTeam .dijitDropDownButton .dijitButtonNode:active,
.oneui .showTeam .dijitComboButton .dijitButtonNode:active,
.oneui .showTeam .dijitToggleButton .dijitButtonNode:active {
    background-position: -48px -96px;
}

.oneui .showTeam .dijitButtonFocused .dijitButtonNode,
.oneui .showTeam .dijitDropDownButtonFocused .dijitButtonNode,
.oneui .showTeam .dijitToggleButtonFocused .dijitButtonNode {
    outline: none;
}

.oneui .showTeam .dijitButton .dijitButtonNode {
    min-width: 5px;
    padding: 0px;
}

/**********************************************************************************************************************
 * Popup.js
 *********************************************************************************************************************/
.mouse-over-popup {
    position: absolute;
    margin-top: 8px;
    z-index: 2;
    margin-top: 4px;
}

.mouse-over-popup .popup-container {
    max-width: auto;
    background-color: #FFF;
    color: #666;
    padding: 4px 8px;
    border: 1px solid #555;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    margin-top: 3px;
}

.mouse-over-popup .popup-container.fixed-popup-width {
    max-width: 400px !important;
}

.mouse-over-popup .popup-pointer {
    height: 10px;
    width: 50px;
    background-image: url('../../lib/ubuild/images/popup-pointer.png');
    background-repeat: no-repeat;
    margin: -5px 0px 0px -9px;
    position: absolute;
}

/**************************************************************************************************
 * Team Member Selector
 **************************************************************************************************/
.team-member-selector {
    min-width: 600px;
    border: 1px solid #CCC;
    padding: 0px 7px 7px 7px;
    background-color: #EEE;
    border-radius: 5px;
}
.edit-user.right-panel-show .team-member-selector,
.edit-user.minimize-roles .columnForm {
    margin-right: 540px;
    min-width: 500px;
}
.edit-user.right-panel-show.right-panel-top .team-member-selector {
    margin-right: 520px;
}
.edit-user.panel-with-scroll-bars.right-panel-show .team-member-selector {
    margin-right: 560px;
}
.edit-user.panel-with-scroll-bars.right-panel-show.right-panel-top .team-member-selector {
    margin-right: 540px;
}

/*.team-member-selector:hover, .team-member-selector.dojoDndContainerOver {
    background-color: #BFE2EF;
    border-color: #53ABCC;
}*/
.team-member-selector .selector-header-container .selector-header {
    padding: 11px 12px;
    font-size: 1.2em;
    margin-left: 5px;
}
.team-member-selector .selector-header-container .selector-button {
    float: right;
    margin: 4px -4px;
}
.team-member-selector .selector-header-container .selector-button .member-select-button-compact .dijitButtonNode {
    min-width: 30px;
    position: relative;
    bottom: 1px;
    vertical-align: top;
    margin-top: 3px;
}

.team-member-selector .selector-member-container .selector-label {
    width: 80px;
    color: #888;
    font-size: 11px;
    padding: 2px 4px;
    margin: 4px;
}

.team-member-selector .selector-header-container .selector-header-expand {
    position: absolute;
    left: 15px;
}
.team-member-selector .selector-header-container .selector-header-expand .team-expander {
  background: url("../../lib/webext/images/webext/icons/misc-arrow-sprite.png") no-repeat;
  height: 12px;
  width: 10px;
  margin: 15px 10px 15px 15px;
}
.team-member-selector .selector-header-container .selector-header-expand .team-expander.team-collapsed {
  background-position: 0 -60px;
}
.team-member-selector .selector-header-container .selector-header-expand:hover .team-expander.team-collapsed {
  background-position: -16px -60px;
}
.team-member-selector .selector-header-container .selector-header-expand:active .team-expander.team-collapsed {
  background-position: -32px -60px;
}
.team-member-selector .selector-header-container .selector-header-expand .team-expander.team-expanded {
  background-position: 0 0;
}
.team-member-selector .selector-header-container .selector-header-expand:hover .team-expander.team-expanded {
  background-position: -16px 0;
}
.team-member-selector .selector-header-container .selector-header-expand:active .team-expander.team-expanded {
  background-position: -32px 0;
}

.team-member-selector .selector-member-container .selector-users {
    border-bottom: 1px dashed #CCC;
}
.team-member-selector .selector-member-container .selector-users, .team-member-selector .selector-member-container .selector-groups {
    padding: 4px;
    min-height: 25px;
    background-color: #FFF;
}

.team-member-selector .selector-member-container .team-member-block {
    padding: 2px 5px;
    color: #FFF;
    margin: 3px 4px;
}
.team-member-selector .selector-member-container .team-member-block:hover,
.team-member-selector .selector-member-container .team-member-block.hover {
  box-shadow: 0px 0px 6px 2px #AAA !important;
  -moz-box-shadow: 0px 0px 6px 2px #AAA !important;
  -webkit-box-shadow: 0px 0px 6px 2px #AAA !important;
}
.team-member-selector .selector-member-container .selector-users .team-member-block {
    background-color: #53ABCC;
}
.team-member-selector .selector-member-container .selector-users .team-member-block:hover,
.team-member-selector .selector-member-container .selector-users .team-member-block.hover {
    background-color: #1B6A86;
}
.team-member-selector .selector-member-container .selector-groups .team-member-block {
    background-color: #9169BF;
}
.team-member-selector .selector-member-container .selector-groups .team-member-block:hover,
.team-member-selector .selector-member-container .selector-groups .team-member-block.hover {
    background-color: #4E2C70;
}
.team-member-selector .selector-member-container .selector-groups .team-member-block .group-popup-title {
    font-weight: bold;
    margin-bottom: 2px;
}
.team-member-selector .selector-member-container .team-member-block.hidden {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    display: none !important;
}

.team-member-selector .selector-member-container .team-member-block .remove-team-member {
    position: absolute;
    margin: -8px 0 0 -11px;
    height: 0px;
    width: 20px;
}
.team-member-selector.team-edit-mode .selector-member-container .team-member-block .remove-team-member,
.team-member-selector .selector-member-container .team-member-block:hover .remove-team-member {
    height: 20px;
}

.team-member-selector .selector-permission-container .edit-role-permissions-note {
    border-bottom: 1px dashed #CCC;
    background-color: #FFF;
    text-align: center;
    padding: 5px;
}
.team-member-selector .selector-permission-container.hide-permissions {
    display: none;
}
.team-member-selector .selector-permission-container .twoPaneManager {
    margin: 0;
}
.team-member-selector .selector-permission-container .twoPaneManager .twoPaneList {
    min-height: 265px;
    width: 160px;
}
.team-member-selector .selector-permission-container .twoPaneManager .twoPaneList .twoPaneEntry {
    font-weight: normal;
}
.team-member-selector .selector-permission-container .twoPaneManager .twoPaneContainer {
    border: none;
    border-top: 1px solid #CCC;
    margin: 0;
}
.team-member-selector .selector-permission-container .twoPaneManager .twoPaneDetail {
    background-color: #FFF;
    margin-left: 160px;
}
.team-member-selector .selector-permission-container .twoPaneManager .twoPaneDetail h2 {
    font-weight: normal;
}

.edit-user .columnForm {
    margin-top: -20px;
}
.edit-user.edit-team-read-only .columnForm {
    margin-top: 9px;
}
.edit-user .columnForm .labelsAndValues-row {
    margin-bottom: 20px;
}
.edit-user .columnForm .labelsAndValues-labelCell {
    text-align: left;
    width: 100px !important;
}
.edit-user .columnForm .labelsAndValues-valueCell {
    width: 100%;
    padding-left: 0;
}
.edit-user .columnForm .selector-permission-container .labelsAndValues-row {
    margin-bottom: 10px;
}
.edit-user .columnForm .selector-permission-container .twoPaneDetail .roleDefaultActions {
    position: relative;
}
/*.edit-user .columnForm .selector-permission-container .labelsAndValues-labelCell {
    left: 0px;
    text-align: right;
}*/
.edit-user .columnForm .selector-permission-container .labelsAndValues-valueCell {
    width: auto;
    padding-left: 15px;;
}

.edit-user .team-list .team-save-button {
    position: relative;
    top: 45px;
    left: 310px;
    margin: 0 !important;
}
.edit-user .add-members-button {
    position: absolute;
    top: 70px;
    left: 440px;
}
.edit-user.edit-team-read-only .add-members-button {
    left: 330px;
}
.create-new-team .edit-user .add-members-button {
    display: none;
}

.edit-user .right-panel-container {
    top: 0;
}
.edit-user.right-panel-top .right-panel-container {
    position: fixed;
    z-index: 1;
}
.edit-user.right-panel-top .right-panel-container .right-panel {
    min-height: 100%;
    overflow-y: scroll;
}
.edit-user .right-panel-container .right-panel .right-panel-groups {
    margin-bottom: 400px;
}

.edit-user .right-panel .treeTable .collapseSpace {
    display: none;
}
.edit-user .right-panel .treeTable .user-email-cell {
    word-break: break-all;
    max-width: 160px;
}
.edit-user .right-panel .treeTable tr.hover {
    background-color: #CCE8F2;
}

.edit-user .right-panel .dnd-handle-text {
    font-size: 14px;
    border: 1px solid #CCC;
    padding: 0 2px 3px;
    margin-left: 4px;
}

.edit-user .right-panel-role-minimizer-container.hide-minimizer {
    display: none;
}
.edit-user .right-panel-role-minimizer-text.containerLabel {
    vertical-align: top;
    font-size: 15px;
    margin: 8px 12px;
    padding: 8px 10px;
    padding-left: 10px !important;
    background-color: #FFF;
    border: 4px solid #1183AD;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #888 !important;
}
.edit-user .right-panel-role-minimizer-container {
    position: absolute;
    text-align: right;
    margin-left: -400px;
    width: 400px;
    z-index: 10;
    top: 5px;
}
.edit-user .right-panel-top .right-panel-role-minimizer {
    position: fixed;
    margin-left: -100px;
}
.edit-user.minimize-roles .team-member-selector, .edit-user.minimize-roles.right-panel-show.right-panel-top .team-member-selector {
    min-width: 160px;
    padding: 0;
    margin: 0 6px 0 0;
    border-radius: 5px;
    text-align: center;
}
.edit-user.minimize-roles .columnForm .team-role-row .labelsAndValues-labelCell,
.edit-user.minimize-roles .team-member-selector .selector-header-expand,
.edit-user.minimize-roles .team-member-selector .selector-button,
.edit-user.minimize-roles .team-member-selector .selector-member-container,
.edit-user.minimize-roles .team-member-selector .selector-permission-container {
    display: none;
}
.edit-user.minimize-roles .columnForm .team-role-row {
    display: inline-block;
    margin-bottom: 0;
}

.team-manager .twoPaneManager .twoPaneDetail {
    background-color: #FFF;
}

.team-object-mapping-divider {
    height: 8px;
    margin: 0 -20px;
    border-top: 1px solid #CCC;
}

.manage-teams-button {
    margin: 14px 0 0 20px;
    vertical-align: top;
}

/**************************************************************************************************
 * RightPanel.js
 **************************************************************************************************/
.right-panel-container {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    height: 100%;
}

.right-panel {
    top: 0;
    height: 100%;
    background-color: #FFF;
    box-shadow: -1px 1px 4px 0 #CCC;
    border-left: 1px solid #CCC;
    position: relative !important;
    padding: 0 20px;
    z-index: 20;
    overflow-y: auto;
}

.right-panel .panel-header {
    padding-top: 15px;
}

.right-panel .panel-title {
    font-size: 1.6em;
    color: #222;
    text-shadow: #C6C6C6 0px 1px 1px;
}

.right-panel .panel-close-button {
    float: right;
    background-position: 0 -120px;
    height: 17px;
    width: 17px;
}
.right-panel .panel-close-button:hover {
    background-position: -24px -120px;
}
.right-panel .panel-close-button:active {
    background-position: -48px -120px;
}

.resourceList .right-panel-container {
    top: 162px;
}

.resourceList.all-resources .right-panel-container {
    top: 155px;
}
.resourceList.resource-group .right-panel-container, .resourceList.application-environment .right-panel-container {
    top: 191px;
}

.resourceList .right-panel .panel-header .show-drop-options,
.right-panel .panel-header .dnd-hint-help {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.resourceList .right-panel .panel-header .show-drop-options {
    top: 40px;
}

.right-panel .panel-header .dnd-hint-help {
    top: 55px;
}

.resourceList .right-panel .panel-content .webextTable .tableFilterRow .icon_delete {
    margin-left: -22px;
}

/**********************************************************************************************************************
 * Icons
 *********************************************************************************************************************/
.general-icon, .folderIcon, .componentIcon, .agentIcon, .agentPlaceholderIcon, .agentPoolIcon, .editIcon, .tagIcon {
    background-image: url('../../lib/ubuild/images/icons/general-sprite.png');
    background-repeat: no-repeat;
}

/**********************************************************************************************************************
 * Icons (High Resolution)
 *********************************************************************************************************************/
@media (min-resolution: 144dpi),
(-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {

  .general-icon, .folderIcon, .folderGearIcon, .componentIcon, .agentIcon, .agentPlaceholderIcon, .agentPoolIcon, .editIcon, .tagIcon {
    background-image: url('../../lib/ubuild/images/icons/general-retina-sprite.png');
    background-size: 72px 480px !important;
  }
}

/**********************************************************************************************************************
 * SubscribeButton (email subscribe/unsubscribe)
 *********************************************************************************************************************/
.subscribe-button .dijitButton {
    margin: 0;
    padding: 0;
}

.subscribe-button .dijitButton .dijitButtonNode {
    border-radius: 0;
    padding: 4px 0px !important;
    margin: 0;
    min-width: 18px;
    min-height: 18px;
}
