/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/

/* log content display area */
.log-container {
        padding: 10px;
}
 
/* next line of interest button */
.next-line-of-interest {
}

/* runing message */
.log-working {
}

/* log content area (contains both log-line-numbers and log-text-content) */
.log-content {
    border: solid 1px black;
    background-color: #ffffff;
    overflow: auto;
    position: relative;
}

/* line numbers pane */
.log-line-numbers {
    font-family: monospace;
    font-size: 12px;
    width: 4em; /* digits and fixed-width fonts are 0.7em wide and 1em tall*/
}

/* line content pane */
.log-text-content {
    border-left: 1px solid black;
    font-family: monospace;
    font-size: 12px;
    left: 4em; /* must match .log-line-numbers{width} */
    position: absolute;
    top: 0px;
}

.line-number, .line-text {
    white-space: pre;
    color: black;
    background-color: #ffffff;
}

/* line-of-interest highlighting */
.line-interest {
    background-color: #fedddd;
}

/* selected line highlighting */
.line-highlight {
    background-color: #ddddfe;
}