/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
.build_life_identifiers, .build_life_properties {
    float: left;
    height: 180px;
    margin-right: 1%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0px 7px;
    width: 38%;
}
  
.secondary_process_bg {
    background-color: white;
    border: 1px solid #d3d3cf;
    color: #545454;
    float: left;
    height: 180px;
    width: 18%;
}

.secondary_process_title_bar {
    background: #F9F9F9;
    border-bottom: 1px solid #d3d3cf;
    color: #4681a9;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.secondary_process_row {
    text-align: center;
    vertical-align: middle;
}

.bl_action_label a {
    color: #4681a9;
    font-weight: bold;
}

/*******************************************************************************
  WORKFLOWS
*******************************************************************************/

/* background container for workflow table */
.bl_workflow_case_bg {
    margin-bottom: 15px;
    width: auto;
}

/* add this class IN ADDITION to above for the originating workflow*/
.bl_workflow_case_originating {
}


/* leave a .5% unallocated space for left+right to help browser fudging from messing up our wrapping */
.bl_workflow_case_bg .left {
    float: left;
    width: 8%;
    margin-right: 1%;
}

/* leave a .5% unallocated space for left+right to help browser fudging from messing up our wrapping */
.bl_workflow_case_bg .right {
    width: 90.5%;
}

tr.priority td {
    background-color: #ffd8d8;
}

.bl_action_label {
    padding: 5px 0px;
}
