/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/

table.buildlife_table {
	background-color: #f4fbff;
    border: 1px solid #4681a9;
    border-collapse: collapse;
    
	font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    
	text-align: center;
}

table.buildlife_table caption {
    text-align: left;
}

table.buildlife_table th {
    border-bottom: 1px solid #4681a9;
    background-color: #4681a9;
    
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;

	padding: 4px;
	vertical-align: middle;
}

table.buildlife_table td {
    background-color: #f4fbff;

    font-size: 11px;
    
	padding: 3px 5px 3px 5px;
	vertical-align: bottom;
}







table.jobtrace_table {
	background-color: #f4fbff;
    border: 1px solid #4681a9;
    border-collapse: collapse;
    
	font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    
	text-align: center;
}

table.jobtrace_table caption {
    text-align: left;
}

table.jobtrace_table th {
    background-color: #89a5b8;

    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;

	padding: 4px;
	vertical-align: middle;
}

table.jobtrace_table td {
    background-color: #f4fbff;

    font-size: 11px;
    
	padding: 3px 5px 3px 5px;
	vertical-align: bottom;
}
table.jobtrace_table tr.odd td {
    background-color: #FFFFFF;
}

table.jobtrace_table tr.even td {
    background-color: #f6f6f6;
}