/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
@CHARSET "ISO-8859-1";

#current-activity-table #delayed-builds-table {
	border-collapse: collapse;
	border-color: #4681A8;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#current-activity-table #delayed-builds-table .yui-dt-odd-workflow-priority td { background-color: #ffd0d0; }
#current-activity-table #delayed-builds-table .yui-dt-even-workflow-priority td { background-color: #ffd0d0; }
#current-activity-table #delayed-builds-table .yui-dt-odd-workflow td { background-color: #f5f1b5; }
#current-activity-table #delayed-builds-table .yui-dt-even-workflow td { background-color: #fefdf5; }
#current-activity-table #delayed-builds-table .yui-dt-odd-job td { background-color: #F9F8EA; }
#current-activity-table #delayed-builds-table .yui-dt-even-job td { background-color: #faf8d5; }

#current-activity-table #delayed-builds-table td, 
#current-activity-table #delayed-builds-table th {
    border: solid 1px #4681A8;
    border-bottom: none;
}

/* The group cell */
.yui-dt .group
{
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #7f7f7f;
    font-weight: bold;
    background-image: url(/js/yui-2.7.0b/build/assets/skins/sam/sprite.png);
    background-position: 0px -1300px;
    position: absolute;
    margin-left: -1px;
    margin-top: -27px; /* Makes the group appear above the first row. Set to the height of the group. */
    color: black;
    cursor: default;
    height: 24px; /* Offset minus borders */
}

/* Group inner style */
.yui-dt .group .liner
{
    padding: 4px 6px;
    /* border-right: 1px solid #CBCBCB; */
}

/* Selected group */
.yui-dt .group-selected
{
    background-image: none;
    background-color: #426FD9;
    color: White;
}

/* Make the group headers scroll with the other rows */
.yui-dt-scrollable .yui-dt-bd {
    /* position:relative; */
}

/* The first group in the data table */
.yui-dt .group-first
{
    /* border-top: 1px solid #7f7f7f; */
}

/* The first row in the group */
.yui-dt .group-first-row td
{
    padding-top: 26px; /* Room for the header to appear above the first row. Set to the height of the group. */
}

/* The group when collapsed */
.yui-dt .group-collapsed
{
    margin-top: 0px; /* Makes the group cover up the first row in the group. */
}

/* The first row in the group when collapsed */
.yui-dt .group-first-row-collapsed td
{
    padding-top: 0px; /* Makes the group cover up the first row in the group. */
}

/* Base styles for the group icon */
.yui-dt .group .icon
{
    width: 20px;
    height: 15px;
    position: absolute;
}

/* Base styles for the group icon */
.yui-dt .group .grpCheckboxDiv
{
    text-align: center;
    height: 15px;
    position: absolute;
}

/* The label within the group */
.yui-dt .group .label
{
    /* margin-left: 75px; */
}

/* The group icon when expanded */
.yui-dt .group-expanded .icon
{
   background-image: url(../images/icon_minus_sign.gif);
   background-repeat: no-repeat;
}

/* The group icon when collapsed */
.yui-dt .group-collapsed .icon
{
   background-image: url(../images/icon_plus_sign.gif);
   background-repeat: no-repeat;  
}

/* The group icon when collapsed */
.yui-dt tr .group-row-collapsed
{
   display: none;
}
