/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
div.job-step-view-page {
	background-color: #ffffff;
	border: 1px #4681a9 solid;
	margin: 0px;
	padding: 5px;
}

table.job-config-table {
	margin: 0px;
	width: 100%;
}
table.job-config-table td {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	padding: 10px;
	margin-bottom:10px
}


table.job-config-step-table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width: 100%;

}
table.job-config-step-table th {
    font-weight: normal;
	font-style: italic;
    color: #545454;
    background-color: #f9f9f9; 
    border: 1px solid #EbEbE5;
    padding: 5px;
}
table.job-config-step-table img {
	border: 0;
}
table.job-config-step-table td {
    font-weight: normal;
	color: #000000;
	background-color: #ffffed;
	margin: 0px;
	padding: 0px;
}
table.job-config-step-table td.step_row_even {
	background-color: white;
	margin: 0px;
	font-family: arial, helvetica, sans-serif;
	line-height: 10px;
	padding: 3px;
    border: 1px solid #ebebe5;
    color: #545454;
    font-size: 12px;
}

table.job-config-step-table td.step_row_odd {
	background-color: white;
	margin: 0px;
	font-family: arial, helvetica, sans-serif;
	line-height: 10px;
	padding: 3px;
    border: 1px solid #ebebe5;
    color: #545454;
    font-size: 12px;
}
