/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
table {
    border-collapse: separate;
    empty-cells: show;
}
table th img,
table td img {
    vertical-align: middle;
}

table.data-table {
    background-color: white;
    border: 1px solid #d3d3cf;
    border-collapse: collapse;
    color: #545454;
    width: 100%;
}

table.fixed {
    table-layout: fixed;
}

.webextTable {
    margin-top: 0px;
}

.webextTable table tbody tr .cellWrapper {
    padding: 0px;
}

table th,
div.webextTable table th {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DBDBDB;
  color: #444;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
}

table.no-padding td {
    padding: 0px;
}
td {
    border: 0px;
    padding: 3px;
}
td,
.dijitSelect td,
div.webextTable td {
  vertical-align: middle;
}
table.dashboard-tree-table td {
    padding: 3px;
    color: #545454;
    font-size: 12px;
}

table.property-table {
    width: 100%;
}
table.data-table tr:hover,
tr.yui-dt-even:hover,
tr.yui-dt-odd:hover {
    background-color: #e8f0ff;
}
table.property-table {
    background-color:none;
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
table.property-table td {
    color: #545454;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
}
table.data-table td,
div.webextTable > table > tbody > tr > td {
    padding: 3px;
    border-bottom: 1px solid #dbdbdb;
    color: #545454;
    font-size: 12px;
    border-left: none;
    border-right: none;
}
div.webextTable > table > tbody > tr {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
div.webextTable > table > tfoot > tr,
div.webextTable > table > tfoot > tr > td {
    border: none;
}

table.data-table td.success {
    color: #545454;
}
table.data-table td.failure {
    color: #545454;
    background-color: #F9D5D8
}
table.buildlife-table {
    table-layout: fixed;
}
td.id-column {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
table.buildlife-table td.id-column {
    text-align: left;
    overflow: visible;
    white-space: normal;
}
tr#yui-rec1.yui-dt-odd:hover {
    background-color: #f0fcff
}
table.data-table tr.expanded {
    background-color:#E9F9FE;
}
td.row_name {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8IvqxrgAAAAAElFTkSuQmCC);
}
.table-caption {
    background-image:url(../images/component_heading_bg.png);
    background-repeat:repeat-x;
    overflow:hidden;
    height:25px;
    border:none;
    color: white;
    font-weight:bold;
    font-size:14px ;
    vertical-align:middle;
    padding: 10px 5px 0px 5px;
    border:1px solid #0A1E2B;
    text-align: left;
    text-transform:uppercase;
}
table caption{
    height: 35px;
    border: none;
    color: #545454;
    font-weight: bold;
    font-size: 14px ;
    padding: 10px 5px 0px 5px;
    text-align: left;
    vertical-align: middle;
}
table.workflowDetailItem {
    border: none;
    padding: 5px;
    background: green;
}

table.workflowdef-table,
table.requestContext-table {
  border-spacing: 2px;
  margin-left:auto;
  margin-right:auto;
  /* minimize the width */
  width: 10%;
}

table.workflowdef-table td.workflowdef,
table.requestContext-table td.requestContext {
  background-color:white;
  border: 1px solid lightgray;
  border-collapse: separate;
  color: #545454;
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
  vertical-align: top;
}
table.workflowdef-table td.workflowdef-selected,
table.requestContext-table td.requestContext-selected {
  background-color:white;
  border: 5px solid darkorange;
  border-collapse: separate;
  color: #545454;
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
  vertical-align: top;
}
table.workflowdef-table .workflowdef-details,
table.requestContext-table .requestContext-details {
  font-size: 10px;
  padding: 6px 0px;
  text-align: left;
}
table.workflowdef-table .workflowdef-details a,
table.requestContext-table .requestContext-details a {
  font-size: 10px;
}

.workflowdef-split {
  background-image:url(../images/split.png);
  background-repeat: no-repeat;
  background-position: 37%;
  font-size: 12px;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  color: black;
  background-color: #ebebe5;
  text-align: center;
  white-space: nowrap;
  padding: 6px 0px 3px 0px;
  border: 1px solid lightgray;
  margin-top: 5px;
}

.requestContext-split {
  font-size: 12px;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  color: black;
  background-color: #ebebe5;
  text-align: center;
  white-space: nowrap;
  padding: 6px 0px 3px 0px;
  border: 1px solid lightgray;
  margin-top: 5px;
}

.workflowdef-join {
  background-image:url(../images/join.png);
  background-repeat: no-repeat;
  background-position: 37%;
  font-size: 12px;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  color: black;
  background-color: #ebebe5;
  text-align: center;
  white-space: nowrap;
  padding: 6px 0px 3px 0px;
  border: 1px solid lightgray;
  margin-bottom:10px;
}

.requestContext-join {
  font-size: 12px;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  color: black;
  background-color: #ebebe5;
  text-align: center;
  white-space: nowrap;
  padding: 6px 0px 3px 0px;
  border: 1px solid lightgray;
  margin-bottom:10px;
}

.note {
  background-color: white;
  padding: 10px;
  margin: 5px;
  border: 1px solid #4681a8;
  border-radius: 3px 3px 3px 3px;
}

.note legend {
  background-color: #ffffff;
  border: 1px solid #999999;
  border-bottom: 0px;
}

table.note-table {
  font: 12px arial, verdana, sans-serif;
  background-color: #cfdbef;
  border: 1px solid #999999;
  width: 100%;
}

table.note-table tr,
table.note-table tr td {
  vertical-align: top;
}

.iteration {
  color: #a02020;
}
table.buildlife-table {
    table-layout: fixed;
}
td.id-column {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table.buildlife-table td.id-column {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.long-dashboard-names {
    white-space:nowrap;
    display:block;
    width:500px;
    overflow:hidden;
    text-overflow:ellipsis;
}

table.wide-table {
    width: 100%;
}

tr.align-top td,
td.align-top {
    vertical-align: top;
}

table.data-table tr *.plus { }
table.data-table tr *.minus {
    display: none;
}

.webextTable table tbody tr .center .cellWrapper {
    text-align: center;
    padding-top: 2px;
}

.webextTable table tbody tr .right .cellWrapper {
    text-align: right;
    padding-top: 2px;
}

.webextTable table tbody tr .left .cellWrapper {
    text-align: left;
    padding-top: 2px;
}

div.inlineBlock.collapseSpace.expandImage,
div.inlineBlock.collapseSpace.collapseImage {
    display: inline-block;
    margin-top: -1px;
}

.treeTable a.clickable {
    color: #00649d;
}

.dashboardTreeContainer .actions {
    margin-bottom: 5px;
}

.dashboardTreeContainer .actions a.clickable {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.treeTable thead.thead-fixed-position {
    top: 40px;
}
