/*
* Licensed Materials - Property of IBM Corp.
* IBM UrbanCode Build
* (c) Copyright IBM Corporation 2012, 2014. All Rights Reserved.
*
* U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
* GSA ADP Schedule Contract with IBM Corp.
*/
/* CSS Document */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #ebebe5;
    font-size: 12px;
    height: 100%;
}
/*
body.devMode {
    background-size: 50px 50px;
    box-shadow: 1px 1px 8px gray;
    background-image: -webkit-linear-gradient(0deg, rgba(117, 167, 217, .2) 50%, transparent 50%, transparent);
    background-image:    -moz-linear-gradient(0deg, rgba(117, 167, 217, .2) 50%, transparent 50%, transparent);
    background-image:     -ms-linear-gradient(0deg, rgba(117, 167, 217, .2) 50%, transparent 50%, transparent);
    background-image:      -o-linear-gradient(0deg, rgba(117, 167, 217, .2) 50%, transparent 50%, transparent);
    background-image:         linear-gradient(0deg, rgba(117, 167, 217, .2) 50%, transparent 50%, transparent);
}
*/
/* uDeploy style
h1 {
  font-size: 1.8em;
  text-shadow: #C6C6C6 0px 1px 1px;
  margin: 10px 0 15px 30px;
}
h2 {
  font-size: 1.6em;
  text-shadow: #C6C6C6 0px 1px 1px;
  padding-left: 30px;
  padding-top: 15px;
  vertical-align: baseline;
}
*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: normal;
    font-size: 24px;
    margin: 12px 0px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-size: 18px;
    font-weight: normal;
    margin: 9px 0px;
}
h3 { /* Same as a table caption */
    border: none;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}
h1.letterpress {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #CBCBC1;
    text-shadow: 0px 2px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=2);
}
h2.letterpress {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #CBCBC1;
    text-shadow: 0px 2px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=2);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
hr {
    border: 1px solid #b2b2ac;
}
.bold, bold, strong, b {
    font-weight: bold;
    /* causes things not to v-align correctly -- line-height: 20px;*/
}
.label, label {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /* causes things not to v-align correctly -- line-height: 20px;*/
    padding-right: 15px;
    valign: top;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #049ace;
    line-height: normal;
    text-decoration: none;
}
a:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #049ace;
    line-height: normal;
    text-decoration: underline;
}
.button,
a.button,
.button:hover,
a.button:hover,
.dashboard-contents-header a,
.dashboard-contents-header a:hover,
.oneui .dijitButton .dijitButtonNode,
.oneui .dijitDropDownButton .dijitButtonNode,
.claro .dijitButton .dijitButtonNode,
.component-heading a,
.component-heading a:hover,
#alertBox #closeBtn,
#alertBox #closeBtn:hover,
input[type="submit"],
input[type="submit"]:hover,
input[type="reset"],
input[type="reset"]:hover,
input[type="button"],
input[type="button"]:hover {
    border: 1px solid #0a5f8e;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #008abf; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #008abf 0%, #085884 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008abf), color-stop(21%, #008abf), color-stop(81%, #085884), color-stop(100%, #085884)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #008abf 0%, #085884 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #008abf 0%, #085884 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #008abf 0%, #085884 100%); /* IE10+ */
    background: linear-gradient(to bottom, #008abf 0%, #085884 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008abf', endColorstr='#085884', GradientType=0 ); /* IE6-8 */
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 60px;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
}
.claro .dijitDialogTitleBar {
    background-color: #D5D5CB;
}
.claro .dijitDialogPaneContent {
    border-top: 1px solid #C6C6C6;
}
.claro .dijitDialog {
    border: 1px solid #C6C6C6;
}
table.data-table td input[type="text"],
table.data-table td textarea,
table.data-table td select {
  margin-top: -1px;
}
.claro .dijitTextBox,
input[type="text"],
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  color: black;
}
.claro .dijitTextBox:hover,
input[type="text"]:hover,
textarea:hover {
  border: 1px solid #66d0e9;
}
.claro .dijitTextBox:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #008abf;
}
input[type="text"].inputdisabled,
textarea.inputdisabled {
    color: #777777;
}
#alertBox #closeBtn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.dijitButtonContents {
    border: none;
}
a.button,
a.button:hover,
.dashboard-contents-header a,
.dashboard-contents-header a:hover,
.component-heading a,
.component-heading a:hover {
    min-width: 36px;
    padding: 4px 12px;
}
.button[@name='Save'] {
    color: green;
}

/*button disabled styling*/
.buttondisabled,
.buttondisabled:hover,
a.buttondisabled,
a.buttondisabled:hover {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 28%, #ececec 68%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(28%, #ffffff), color-stop(68%, #ececec), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 28%, #ececec 68%, #ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 28%, #ececec 68%, #ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 28%, #ececec 68%, #ececec 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 28%, #ececec 68%, #ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 ); /* IE6-8 */
    border: 1px solid #a6a6a6;
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 10px;
    text-decoration: none;
}
.button.current {
    border: 0px solid #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px 10px;
    border: 0px solid #ffffff;
    text-decoration: none;
}
.radio,
input[type="radio"] {
    background-color: transparent !important;
    border: none !important;
    margin-right: 10px !important;
    /* This lines them up with text. It does make them look odd next to text inputs. */
    margin-top: 0px;
}
.checkbox,
input[type="checkbox"] {
    /* This lines them up with text. It does make them look odd next to text inputs. */
    margin-top: 0px;
}

.header_bar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #CBEDFB;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px -1px 2px #14243d;
    filter: dropshadow(color=#14243d, offx=0, offy=-1);
}
.header_bar a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #57C1EA;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px -1px 2px #14243d;
    filter: dropshadow(color=#14243d, offx=0, offy=-1);
}
a.current {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: bold;
    font-weight: bold;
    text-shadow: 0px -1px 2px #14243d;
    filter: dropshadow(color=#14243d, offx=0, offy=-1);
}
.header {
    background: #575748; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NTc0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #575748 0%, #353526 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #575748), color-stop(100%, #353526)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #575748 0%, #353526 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #575748 0%, #353526 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #575748 0%, #353526 100%); /* IE10+ */
    background: linear-gradient(to bottom, #575748 0%, #353526 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575748', endColorstr='#353526', GradientType=0 ); /* IE6-8 */
    height: 55px;
    overflow: visible;
}
.header_content {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.nav_dropdown {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    margin-top: 7px;
    position: relative;
    text-decoration: none;
    z-index: 999; /* For IE7 */
}
.nav_dropdown a,
.nav_dropdown a:hover {
    text-decoration: none;
}
.nav_dropdown_current {
    color: #FFFFFF;
    cursor: pointer;
    font: 12px Arial,sans-serif;
    font-weight: bold;
    padding: 12px 19px;
}
.nav_dropdown_current:hover {
    background: #a6a69b;
}
.nav_dropdown img {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.nav_dropdown_menu {
    background: none repeat scroll 0 0 #EEEEE8;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
    font: 12px Arial,sans-serif;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 100%;
    width: 390px;
    z-index: 1000;
}
.nav_dropdown_menu ul {
    display: block;
    float: left;
    margin: 0;
    padding: 7px;
    position: relative;
    width: 180px;
    z-index: 1001;
}
.nav_dropdown_menu li {
    color: #0791BA;
    cursor: pointer;
    display: block;
    float: none;
    font-size: 1em;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 7px;
    width: 170px;
}
.nav_dropdown_menu li:hover {
    background: #a6a69b;
    color: white;
  }

.logo {
    padding: 18px 10px 10px 0px;
    display: inline;
    position: relative;
    float: left;
}
#content {
    position: relative;
    clear: both;
    height: 100%;
}
.contents {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 0em 2em;
}
#container {
    position: relative;
    height: auto !important; /*real browsers*/
    height: 100%; /*IE6:treaded as min-height*/
}
.header_nav {
    float: right;
    margin-top: 3px;
}
.header_nav ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle
}
.header_nav li {
    display: inline;
    color: white;
    font-size: 12px;
    padding-left: 15px;
}
.header_nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.header_nav a:hover {
    text-decoration: underline;
}
.tab_holder {
    background-color: white;
    height: 35px;
}
.tab_holder ul {
    list-style-type: none;
    height: 35px;
    margin: 0;
    padding-top: 10px;
    padding-left: 3%;
}
.tab_holder li {
    margin: 0;
    padding: 5px 0px 0px 0px;
    height: 20px;
    white-space: nowrap;
    float: left;
    position: relative;
}
.tab_holder li.current {
    background-color: #ebebe5;
}
.tab_holder a {
    padding: 0px 20px;
    font-weight: bold;
    color: black;
    vertical-align: bottom;
}
.tab_holder a:hover {
    text-decoration: underline
}
div.tab_holder ul.tabs .yui-nav {
    background-image: none !important;
}
div.tab_holder ul.tabs .yui-nav li {
    background-image: none !important;
}
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background-color: #e8f0ff;
    color: #545454;
}

.popup_header {
    background-color: #333333;
    background-image: -moz-linear-gradient(#3e3e3e, #131313);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e3e3e), to(#131313));
    background-image: -webkit-linear-gradient(#3e3e3e, #131313);
    background-image: -o-linear-gradient(#3e3e3e, #131313);
    height: 35px;
    margin-bottom: 5px;
    border-bottom: 4px solid #1a96c6;
}
.popup_header a,
.popup_header a:hover {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
    text-decoration: none;
}
.popup_header ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 3%;
}
.popup_header li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    float: left;
    position: relative;
}
.breadcrumbs {
    clear: both;
    padding: 14px 20px 0px;
    height: 20px;
}
.breadcrumbs a {
    padding: 10px;
    text-decoration: none;
}
.breadcrumbs a:hover {
    text-decoration: underline
}
.breadcrumbs img {
    vertical-align: middle;
}
.body-content {
    padding: 0em 2em;
}
.footer-spacer {
    height: 50px
}
.footer {
    background: #CBCBC1;
    clear: both;
    height: 35px;
    padding-top: 15px;
    width: 100%;
}
.footer_content {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
}
.action_bar {
    background-color: #D5D1C7
}
.divide {
    width: 100%;
    height: 0px;
    border-top: 1px solid #CBCBC1;
    border-bottom: 1px solid #FFF;
}
ul.pagination {
    list-style: none;
    float: right;
    margin-top: 5px;
    margin-bottom: 0px;
}
.pagination li {
    display: inline;
    width: 5px;
    height: 5px;
    margin: 2px;
    padding: 5px 2px;
}
.pagination a {
    color: #2F7096;
    text-decoration: none;
    font-weight: bold;
}
.pagination a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.action_buttons {
    float: left;
}
.form_contents {
    width: 100%
}
.form_row1 {
    width: 30%;
    float: left;
}
.form_row2 {
    width: 30%;
    float: left;
}
.form_row3 {
    width: 30%;
    float: left;
}
#form {
    border: 1px solid lightgray;
    border-bottom-color: #4681A8;
    background-color: white;
}
#table_caption {
    color: #DC524B;
    float: right;
}
#form th {
    border: 1px solid #EBEBE5;
    background-color: #EBEBE5;
    text-align: left
}
#form td {
    border-top-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #4681A8;
    background-color: none;
}
#row_label {
    font-weight: bold;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#option_text {
    font-weight: bold;
    color: #4681A8;
}
#form_description {
    color: #4681A8;
}
.page_rendering {
    margin-bottom: 7px;
    height: 200px;
    width: 100%
}
.page_rendering th {
    padding: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
.status_name {
    float: left;
    width: 36%;
    padding: 1%;
    -moz-box-shadow: inset 0 0 5px 2px #938E89;
    -webkit-box-shadow: inset 0 0 5px 2px #938E89;
    box-shadow: inset 0 0 5px 2px #938E89;
    background-color: #CBCBC1;
    border-radius: 2px;
    height: 154px;
}
.property_name {
    float: left;
    margin-left: 1%;
    width: 36%;
    border-radius: 2px;
    padding: 1%;
    -moz-box-shadow: inset 0 0 5px 2px #938E89;
    -webkit-box-shadow: inset 0 0 5px 2px #938E89;
    box-shadow: inset 0 0 5px 2px #938E89;
    background-color: #CBCBC1;
    border-radius: 2px;
    height: 154px;
}
.sidebar {
    float: left;
    margin-left: 1%;
    width: 20%;
    border-radius: 2px;
    padding: 1%;
    -moz-box-shadow: inset 0 0 5px 2px #938E89;
    -webkit-box-shadow: inset 0 0 5px 2px #938E89;
    box-shadow: inset 0 0 5px 2px #938E89;
    background-color: #CBCBC1;
    border-radius: 2px;
    height: 154px;
}
.sidebar ul {
    list-style: none;
    padding-left: 5px;
}
#margin {
    margin-top: 1%;
}
.shadow {
    width: 755px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/shadow_div.png)
}
.expand {
    padding-right: 15px;
}
.required-text,
.property-table span.required-text {
    color: #fc5961;
}
.large-text {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}
.small-text, .small-text a {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
}
div.error, span.error {
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 35px !important;
    color: #fc5961;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
div.warning, span.warning{
     background-image: url("../images/warning.png");
      background-repeat:no-repeat;
       background-position:left;
    padding-left: 35px !important;
    color: #DD992C;
    font-size: 14px;
    vertical-align:middle;
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
.property-table span.error {
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 35px !important;
    color: #fc5961;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
.property-table tr.error {
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-position: left;
    color: #fc5961;
    font-size: 14px;
    padding-left: 35px !important;
}
.property-table tr.error td {
    padding-left: 35px !important;
    color: #fc5961;
    font-size: 14px;
    height: 20px;
}
.dashboard-warning {
    color: #fc5961;
    font-size: 14px;
}
i {
    font-style: italic;
    color: #777777;
}
img {
    border: 0;
    vertical-align: bottom;
}
img.error_icon {
    display: inline;
    vertical-align: middle;
}
#floatingframe {
    background-color: white;
    border: 1px solid black;
}
.dashboard-contents {
    margin-bottom: 20px;
}
.dashboard-contents-header, .component-heading {
    background: #FFF; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    color: #444;
    font-size: 18px;
    font-weight: normal;
    height: 27px;
    line-height: none;
    padding: 9px 5px 6px;
    vertical-align: middle;
}
table.workflowDetailItem {
    border: none;
    padding: 5px;
    background: green;
}
.system-helpbox {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 1em;
    padding: 8px;
    -webkit-border-radius: 3px;
}
.chart {
    border: 1px solid #D3D3CF;
    margin-bottom: 10px;
}
.login_table {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    background-image: url("../images/login_table.png");
    background-repeat: repeat-x;
    white-space: nowrap;
    border-radius: 4px;
    border: 5px solid gray;
    padding: 20px;
}
.login_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 7px 10px;
    background-image: url("../images/login.png");
    background-repeat: repeat-x;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 2px;
    border: 1px solid #949494;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 1px 2px rgba(237,237,237,0);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 1px 2px rgba(237,237,237,0);
    box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 1px 2px rgba(237,237,237,0);
    text-shadow: 0px 1px 1px rgba(000,000,000,1), 0px 1px 0px rgba(255,255,255,0);
    margin-bottom: 10px;
}
#delayed-builds-container {
    color: lightgray !important;
}
#current-activity {
    color: black !important;
}
.warningHeader {
    font-weight: bold;
    color: #545454;
}
.new-anthill-portal-page {
    background: none;
    border: none;
}
.system-page-window-content {
    height: 220px;
    text-align: left;
    font-size: 10px;
    overflow: auto;
    border: 1px solid #D3D3CF;
    background-color: white;
}
.system-page-window-content ul {
    list-style: none;
    margin-top: 10px;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 13px;
    padding-right: 13px;
}
.system-page-window-content li {
    font-size: 12px;
    font-family: arial;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 0;
}
.system-page-window-content li a {
    font-size: 12px;
    font-family: arial;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 0;
}
.system-page-window-titlebar {
  /* Same as table th */
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DBDBDB;
  color: #444;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
}
.tab_agents {
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab_agents .selected {
}
.tab_agents ul {
    list-style: none;
}
.tab_agents li {
    display: inline;
}
.tab_agents li a {
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #ececec 0%, #ececec 27%, #d7d7d7 76%, #d7d7d7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(27%, #ececec), color-stop(76%, #d7d7d7), color-stop(100%, #d7d7d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ececec 0%, #ececec 27%, #d7d7d7 76%, #d7d7d7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ececec 0%, #ececec 27%, #d7d7d7 76%, #d7d7d7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ececec 0%, #ececec 27%, #d7d7d7 76%, #d7d7d7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ececec 0%, #ececec 27%, #d7d7d7 76%, #d7d7d7 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d7d7d7', GradientType=0 ); /* IE6-8 */
    color: #444;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    padding: 2px 10px;
}
.tab_agents li a img {
    vertical-align: middle
}
.tab_agents li a:hover {
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -moz-box-shadow: inset 0 0 3px 3px #C9C9C9;
    -webkit-box-shadow: inset 0 0 3px 3px #C9C9C9;
    box-shadow: inset 0 0 3px 3px #C9C9C9;
    color: #1782ba;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.tab_agents li.current a {
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec; /* Old browsers */
    -moz-box-shadow: inset 0 0 3px 3px #C9C9C9;
    -webkit-box-shadow: inset 0 0 3px 3px #C9C9C9;
    box-shadow: inset 0 0 3px 3px #C9C9C9;
    color: #444;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.inlinehelp {
    color: black;
}
.announcement-low {
    background-image: url("../images/announcement.gif");
    background-position: left;
    background-position-x: 1%;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 1px solid #81cfe2;
    background-color: #f0fcff;
    padding: 5px 5px 5px 61px;
    margin-top: 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.announcement-text-low {
    color: black;
    vertical-align: middle;
}
.announcement-normal {
    background-image: url("../images/announcement.gif");
    background-position: left;
    background-position-x: 1%;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 1px solid #aabf7c;
    background-color: #f3ffe6;
    padding: 5px 5px 5px 61px;
    margin-top: 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.announcement-text-normal {
    color: black;
    vertical-align: middle;
}
.announcement-high {
    background-image: url("../images/announcement.gif");
    background-position: left;
    background-position-x: 1%;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 1px solid #e29393;
    background-color: #fff3f3;
    padding: 5px 5px 5px 61px;
    margin-top: 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.announcement-text-high {
    color: black;
    vertical-align: middle;
}
.panel_1 {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ebebe5;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .15);
}
.panel_2 {
    margin: 10px;
    padding: 10px;
    background-color: white;
    background-color: #F9F9F9;
    border: 1px solid #ebebe5
}
.team_title {
    font-weight: bold;
    color: #4DB6DA;
    display: inline;
}
.role_title {
    font-weight: bold;
    color: #4DB6DA;
    display: inline;
}
table.job-step-table td {
    height: 27px;
    font-weight: normal;
    vertical-align: middle;
    padding: 2px 5px 0px 5px;
    margin-bottom: 10px;
    line-height: none;
    font-size: 10pt;
}
.step_table_div table.step-table thead {
    font-weight: normal;
    font-style: italic;
    background-color: #f9f9f9;
    border: 1px solid #EbEbE5;
    padding: 5px;
}
.step-disabled{
    background-color: #d0d0d0;
    font-style: italic;
}
pre {
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    margin: 0px;
    padding: 5px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.wrapped {
  word-break: break-all;
  word-wrap: break-word;
}
.monospaced {
  font-family: "Courier New" Courier monospace;
}
.code {
    font-family: monospace;
    font-size: 11px;
}
div.code, pre.code {
    border: 1px #BBC1B4 solid;
    padding: 5px;
}
.message {
    background-image: url("../images/message.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 35px !important;
    color: #2786a0;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
a.step_folder_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #545454;
    font-weight: bold;
    text-decoration: none;
}
a.step_folder_label :hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #545454;
    font-weight: bold;
    text-decoration: underline;
}
.step_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #545454;
    font-weight: normal;
}
.step_description {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #545454;
    font-weight: normal;
}
.team_heading {
    color: #545454;
    font-size: 18px;
    padding-left: 10px;
}
.propertyValueType {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .15);
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 250px;
}
.nowrap {
    white-space: nowrap;
}
#clipboard {
    background: white;
    border: 1px solid #75a3ba;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 500px;
}

.inlineBlock {
    display: inline-block;
}

.dj_ie7 .inlineBlock {
    zoom: 1;
    display: inline;
}

.issueDetailPropName{
  text-align:right
}

.dijitSelect .dijitArrowButtonContainer {
    width: 10px;
}

a.actions-link {
    cursor: pointer;
    padding-right: 5px;
}

.success {
    color: green;
    font-weight: bold;
}

.failure {
    color: red;
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid black;
}

/**************************************************************************************************
 * Tags
 **************************************************************************************************/
.tagDisplay {
    display: inline-block;
}

.tagDisplay .tagContainer {
    display: inline-block;
    margin-left: 5px;
}

.tagDisplay .tagContainer.tagListLeftAlign {
    margin-left: 0px;
}

.tagDisplay .tagContainer.withComboBox {
    margin-top: 5px;
    margin-left: 0px;
}

.tagDisplay .tagBox {
    background-color: #f0f0f0;
    border: 2px solid #d8d8d8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: black;
    display: inline-block;
    position: relative;
    margin: 0px 4px -4px 0;
    font-size: 11px;
}

.tagDisplay .tagBox.withComboBox {
    margin: 0px 4px 4px 0;
}


.tagDisplay .tagBox .tagName {
    display: inline-block;
    margin: 2px 4px;
    top: -2px;
}

.tagDisplay .tagDelete {
    display: inline-block;
    border-left-width: 1px;
    border-left-color: #999999;
    border-left-style: solid;
    padding: 1px 4px 1px;
    font-weight: bold;
}

.tagDisplay .tagDelete:hover {
    background-color: #FFEEEE;
    cursor: pointer;
    -moz-border-top-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/**************************************************************************************************
 * Main Menu Icons
 **************************************************************************************************/
.main-menu-icon {
    height: 32px;
    width: 32px;
    background-image: url('../images/mainMenu/small-square-sections-sprite.png');
    background-repeat: no-repeat;
}

.home-icon {
    background-position: 0 0;
}

.current-activity-icon {
    background-position: 0 -40px;
}

.search-icon {
    background-position: 0 -80px;
}

.reporting-icon {
    background-position: 0 -120px;
}

.codestation-icon {
    background-position: 0 -160px;
}

.configuration-icon {
    background-position: 0 -200px;
}

.teams-icon {
    background-position: 0 -240px;
}

.agents-icon {
    background-position: 0 -280px;
}

.system-icon {
    background-position: 0 -320px;
}

.tools-icon {
    background-position: 0 -360px;
}

.user-icon {
    height: 19px;
    width: 19px;
    background-image: url('../images/nav_user.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}

/*
 * IE10 Fixes (Apparently there might be a mistype in the OneUI CSS, so these elements don't inherit the OneUI style properly)
 */
.dj_ie10 .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemHover,
.dj_ie10 .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemHover {
    background-image: -ms-linear-gradient(top, #000000 0%, #212121 100%) !important;
}

.dj_ie10 .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemSelected {
    background-image: -ms-linear-gradient(top, #585858 0%, #161616 100%);
}

/**************************************************************************************************
 * Header
 **************************************************************************************************/
.idxHeaderPrimary li > span {
    position: relative;
    top: 2px;
    padding: 14px 0 12px;
}

.idxHeaderPrimaryTitle a {
    color: #FFF !important;
    padding: 12px 0;
}

.idxHeaderContainer.oneuiHeaderNavigationMenu .oneuiMenuColumn {
    width: 200px;
    margin-right: 10px;
}

.idxHeaderContainer.oneuiHeaderNavigationMenu .oneuiMenuColumn table td {
    padding: 6px 0 6px 6px;
    width: 30px;
}

.idxHeaderPrimaryThin {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.dijitMenuItem a {
    padding: 8px 30px 8px 20px;
    margin: -8px -30px -8px -20px;
}

.idxHeaderLogoBox {
    margin-top: -2px;
}

.dijitMenuItem:hover td {
    text-decoration: underline;
}

/**************************************************************************************************
 * Login Page + About Popup
 **************************************************************************************************/

.about-popup.dijitDialog .close-popup-button, .license-popup.dijitDialog .close-popup-button {
    background-image: url("../lib/idx/themes/oneui/idx/widget/images/popupClose.png");
    position: absolute;
    top: -14px;
    right: -14px;
    width: 28px;
    height: 28px;
    z-index: 1004;
    cursor: pointer;
}

.about-popup .dijitDialogPaneContent {
    padding: 20px 50px 30px 30px;
    border: none;
}

.about-popup .product-name {
    font-size: 16px;
    padding-bottom: 20px;
}

.about-popup .product-version {
    font-size: 11px;
    padding-bottom: 20px;
}

.about-popup .product-description {
    line-height: 1.2;
}

.resource-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-repeat: no-repeat !important;
    z-index: 1;
    vertical-align: middle;
    word-break: normal;
}

.oneui a:visited {
    color: #00649d;
}

.oneui .dijitDialog {
    max-width: 400px;
    overflow: visible;
}

.oneui .dijitDialogPaneContent {
    margin: 10px 20px 20px;
}
.oneui .dijitButton .dijitButtonNode,
.oneui .dijitDropDownButton .dijitButtonNode,
.oneui .dijitComboButton .dijitButtonNode,
.oneui .dijitToggleButton .dijitButtonNode {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
}
.about-popup .dijitDialogTitleBar {
    background: url("../lib/webext/images/webext/login/ibmLogoDark.png") 30px 50px no-repeat;
    border: none;
    height: 50px;
}

/**************************************************************************************************
 * Tabs
 **************************************************************************************************/
#topLevelTabs.tabManager {
    margin: 0 0 -4px;
    padding: 40px 20px 2px 40px;
    background: #f8f8f8; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTllOWU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #f8f8f8 85%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,#f8f8f8), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 85%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 85%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 85%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 85%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-8 */
}

#topLevelTabs.tabManager .tab {
    padding: 19px 14px 16px;
    margin-left: -6px;
    margin-right: -1px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: -2px;
}

#topLevelTabs.tabManager .tab.selected {
    z-index: 60;
    background-color: #FFF;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

#topLevelTabs.tabManager .tab:hover {
    background-color: #f6f6f6;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    padding: 19px 14px 16px;
    margin-left: -6px;
    text-decoration: none;
}

#topLevelTabs.tabManager .tab.selected:hover {
    padding: 19px 14px 16px;
    margin-left: -6px;
}

#secondLevelTabs.tabManager .tab {
    margin-right: -1px;
}

.tabManager {
    margin-top: 0px;
}

.tabManager, .secondary-nav {
    padding: 0px 30px 0px 36px;
}

.dj_ie .tabManager, .secondary-nav {
    margin-bottom: -2px;
}

.dj_ie .tabManager, .dj_ie8 .tabManager {
    background: none;
    filter: none;
}

.tabManager .tab.selected:first-child {
    margin-left:-6px;
}

.tabManager .tab.selected {
    z-index: 60;
    background-color: #FFF;
    margin-left: -6px;
}

.tabManager .tab {
    background-color: transparent;
    margin-bottom: -1px;
    position: relative;
    border-left: 1px solid transparent;
    margin-left: -6px;
}

.display-inline {
    display: inline;
}

a.button:link, .dashboard-contents-header a:link, .component-heading a:link,
a.button:visited, .dashboard-contents-header a:visited, .component-heading a:visited {
    color: #ffffff;
}

.license-contents {
    padding: 1em 0em 2em;
}

td.dijitMenuItemLabel a.header-link {
    color: #222222;
}
.system-helpbox {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 1em;
    padding: 8px;
    -webkit-border-radius: 3px;
}
.inactive-warning {
    background-color: #FFB2B2;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: black;
    display: block;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 1em;
    -webkit-border-radius: 3px;
}

.white {
    color: white;
}

.translatedName {
    font-size: 1.6em;
    text-shadow: #C6C6C6 0px 1px 1px;
    padding-bottom: 15px;
    vertical-align: baseline;
}

.translatedDescription {
    font-size: 1.2em;
    text-shadow: #C6C6C6 0px 1px 1px;
    padding-bottom: 15px;
    vertical-align: baseline;
    margin-top: -10px;
}

.projectIcon {
    height: 14px;
    width: 14px;
    padding: 2px;
    background: url(../images/icon_project.gif) no-repeat left top;
}

.workflowIcon {
    height: 14px;
    width: 14px;
    padding: 2px;
    background: url(../images/icon_orig_process.gif) no-repeat left top;
}

.magnifyingGlassIcon {
    height: 14px;
    width: 14px;
    padding: 2px;
    background: url(../images/icon_magnifyglass.gif) no-repeat left top;
}

.iconMinus {
    height: 14px;
    width: 14px;
    padding: 2px;
    background: url(../images/icon_minus_sign.gif) no-repeat left top;
}

.iconPlus {
    height: 14px;
    width: 14px;
    padding: 2px;
    background: url(../images/icon_plus_sign.gif) no-repeat left top;
}

.center {
    text-align: center;
}
